#container {
  display: flex;

  height: 100vh;

  background-color: var(--light-gray);

  > * {
    flex: 1;
  }
}

#login {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  > div {
    max-width: 467px;
    width: 100%;

    a {
      text-decoration: none;
      display: block;
      text-align: center;
    }

    > h1 {
      font-size: 36px;
      color: var(--green);

      text-align: center;

      margin-bottom: 110px;
    }
    
    > h2 {
      font-size: 30px;

      text-align: center;

      color: white;

      margin-bottom: 50px;
    }

    .select-role {
      > div {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 12px;
        
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
  
          gap: 4px;
  
          > label {
            font-size: 16px;
            font-weight: 600;
            color: white;
  
            opacity: .9;
          }
        }
      }

      > span {
        display: block;

        text-align: center;

        margin-top: 4px;
      
        color: red;
      }
    }

    > form {
      display: flex;
      flex-direction: column;

      gap: 25px;

      > button {
        margin-top: 25px;
      }

      > a {
        font-size: 20px;
        font-weight: 600;

        color: white;
      }
    }

    > a {
      margin-top: 100px;

      color: white;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

#background {
  background-image: url('/assets/img/sign-up-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
