#input-container {
  height: 69px;

  display: flex;
  align-items: center;
  
  background-color: var(--heavy-gray);

  border-radius: 10px;

  padding: 0 22px;

  gap: 22px;

  max-width: 100%;
  width: 100%;

  > input {
    height: 100%;

    flex: 1;

    background-color: transparent;

    font-size: 16px;
    font-weight: 400;

    color: #fff;

    max-width: 100%;
    width: 100%;
  }
}

#input-error {
  display: block;
  margin-top: 4px;

  color: red;
}
