#header {
  height: 144px;
  padding: 0 100px;

  background-color: var(--heavy-gray);

  display: flex;
  align-items: center;

  > button,
  > div {
    flex: 1;
  }

  > button {
    > strong {
      font-size: 36px;
      color: var(--green);
    }
  }

  > button:nth-child(2) {
    flex: 1;

    display: flex;
    align-items: center;

    cursor: pointer;

    gap: 20px;

    &:hover {
      > span {
        text-decoration: underline;
      }
    }

    > span {
      color: white;

      font-size: 20px;
      font-weight: 500;

      text-decoration: none;
    }
  }

  > div:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 48px;
  }
}